footer{
    grid-area: footer;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
footer hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--blue-light);
}
footer .footer-text{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    list-style: none;
}