.playpage{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 1fr 15%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #eee4e1;
    scrollbar-color: transparent transparent;
}
.playpage .logo{
    grid-row: 1;
    width: 150px;
}
.playpage .skillsContainer{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: auto;
    user-select: none;

}
.playpage nav{
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    gap: 15px;
}
