
.RoadMap {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: 70px auto auto;     
     height: auto;
     background-color: var(--gray-80);
     grid-template-areas: "header"
                          "main"
                         "footer";
}

:root {
     --outer: #FF9B9B;
     --inner: #FE5454;
     --plate: #D9D9D9;
}
.RoadMap .levelstand .outer {
     background-color: var(--outer);
     width: 50px;
     height: 40px;
     border-radius: 50%;
     z-index: 2;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
}
.RoadMap .levelstand .inner {
     background-color: var(--inner);
     width: 50px;
     height: 40px;
     position: absolute;
     border-radius: 100px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     top: 47%;
     z-index: 1;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}
.RoadMap .levelstand .plate{
     background-color: var(--plate);
     width: 70px;
     height: 50px;
     position: absolute;
     top: 44%;
     border-radius: 50%;
}
.RoadMap .map{
     grid-area: main;
     grid-row: 2;
     height: 150vh;
     width: auto;
     display: grid;
     grid-template-rows: repeat(5, 150px);
}

.RoadMap .map .levelstand {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}
/* First line */
.RoadMap .map .firstline .levelstand:nth-of-type(1)::before{
     width: 50%;
}
.RoadMap .map .firstline .levelstand::before{
     content: '';
     background-color: var(--gray-10);
     width: 100%;
     right: 0;
     top: 55%;
     z-index: 0;
     position: absolute;
     height: 10px;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.RoadMap .map .firstline .levelstand:nth-last-child(1)::before{
     width: 40%;
     left: 0;
}
.RoadMap .map .firstline .levelstand:nth-last-child(1)::after{
     content: '';
     width: 50%;
     bottom: 0;
     position: absolute;
     background-color: var(--gray-10);
     height: 10px;
     z-index: 0;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
     transform: rotate(90deg);
}
.RoadMap .firstline{
     grid-column: 1 / -1;
     grid-row: 1;
     display: grid;
     grid-template-columns: repeat(8, 1fr);
}
.RoadMap .firstline:nth-of-type(3){
     grid-row: 3;
     grid-column: 1 / -1;
     display: grid;
     grid-template-columns: repeat(8,1fr);
}
/* Second Line */
.RoadMap .secondline{
     grid-row: 2;
     grid-column: 1 / -1;
     display: grid;
     grid-template-columns: repeat(8,1fr);
     position: relative;

}
.RoadMap .secondline:nth-of-type(4){
     grid-row: 4;
}
.RoadMap .secondline .levelstand::before{
     content: '';
     background-color: var(--gray-10);
     width: 100%;
     right: 0;
     top: 55%;
     z-index: 0;
     position: absolute;
     height: 10px;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.RoadMap .secondline .levelstand:nth-of-type(1)::before{
     width: 50%;
}
.RoadMap .secondline .levelstand:nth-of-type(1)::after{
     content: '';
     width: 90%;
     bottom: 0;
     position: absolute;
     background-color: var(--gray-10);
     height: 10px;
     z-index: 0;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
     transform: rotate(90deg);
}
.RoadMap .secondline .levelstand:nth-last-child(1)::before{
     width: 50%;
     left: 0;
}
.RoadMap .secondline .levelstand:nth-last-child(1)::after{
     content: '';
     width: 60%;
     top:0;
     position: absolute;
     background-color: var(--gray-10);
     height: 10px;
     z-index: 0;
     box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
     transform: rotate(90deg);
}


@media only screen and (max-width: 1060px){
     .RoadMap .map{
          grid-template-columns: auto;
          height: auto;
          grid-template-rows: 209vh 209vh 209vh ;
     }
     .RoadMap .levelstand::before{
          transform: rotate(90deg);
     }
     .RoadMap .firstline{
          grid-template-columns: auto;
          grid-template-rows: repeat(8,180px);
          height: 209vh;
     }
     .RoadMap .firstline:nth-of-type(3){
          grid-row: 3;
          grid-template-columns: auto;
     }
     .RoadMap .levelstand{
          overflow: hidden;
     }
     .RoadMap .map .firstline .levelstand:nth-of-type(1)::before{
          width: 100%;
          position: relative; 
          
     }
     .RoadMap .map .firstline .levelstand:nth-last-child(1)::before{
          width: 0%;
     }
     .RoadMap .map .firstline .levelstand:nth-last-child(1)::after{
          width: 100%;
     }
     .RoadMap .secondline{
          grid-template-columns: auto;
          grid-template-rows: repeat(8,180px);
          flex-direction: row-reverse;
          grid-row: 2;
     }
     .RoadMap .secondline .levelstand:nth-of-type(1)::before{
          width: 100%;
     }
     .RoadMap .secondline .levelstand:nth-last-child(1)::before{
          width: 100%;
     }
     .RoadMap .secondline .levelstand:nth-of-type(1){
          grid-row: 8;
     }
     .RoadMap .secondline .levelstand:nth-of-type(2){
          grid-row: 7;
     }
     .RoadMap .secondline .levelstand:nth-of-type(3){
          grid-row: 6;
     }
     .RoadMap .secondline .levelstand:nth-of-type(4){
          grid-row: 5;
     }
     .RoadMap .secondline .levelstand:nth-of-type(5){
          grid-row: 4;
     }
     .RoadMap .secondline .levelstand:nth-of-type(6){
          grid-row: 3;
     }
     .RoadMap .secondline .levelstand:nth-of-type(7){
          grid-row: 2;
     }
     .RoadMap .secondline .levelstand:nth-last-child(1){
          grid-row: 1;
     }
}