.App{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px auto auto;
  grid-template-areas: "header header header"
                       "main main main"
                       "footer footer footer";
  background-color: var(--primary);
  overflow-x: hidden;

}
.homepage{
  grid-area: main;
  height: 150vh;
}
.homepage .intro{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  height: 70vh;
}
.homepage .intro .textcontainer{
  grid-column: 2;
  display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 50px;
}
.homepage .intro .textcontainer .text{
  color: var(--white);
}
.homepage .intro .textcontainer .text p{
  font-size: 1.5rem;
  width: 80%;
}
.homepage .intro .textcontainer .text span{
  color:var(--dark-red);
  font-weight: bold;
}
.homepage .intro .textcontainer .text h1{
  font-size: 9rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin: -20px;
  -webkit-text-stroke: 1px black;
  letter-spacing: -5px;
}
.homepage .intro .textcontainer a{
  width: 300px;
  height: 70px;
  background-color: var(--white);
  color: var(--dark-red);
  display: flex;align-items: center;justify-content: center;
  border-radius: 15px;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
}
.homepage .intro .textcontainer a i{
  left: 60px;
  transform: translateX(-50px);
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.homepage .intro .textcontainer a span{
  transition: all 0.2s ease-in-out;
}
.homepage .intro .textcontainer a:hover span{
  transform: translateX(10px);
}
.homepage .intro .textcontainer a:hover i{
  transform: translateX(0);
  opacity: 1;
}
.homepage .intro .images{
  grid-column: 3;
  position: relative;
}
.homepage .intro .images .image{
  width: 370px;
  height: 400px;
  background-color: var(--white);
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.homepage .intro .images .image:nth-of-type(1){
  right: 300px;
  transform: rotate(-10deg);
  left: 0;
  top: 50px;
  margin-inline: auto;
}
.homepage .intro .images .image:nth-of-type(2){
  right: 0;
  left: 300px;
  top: 200px;
  margin-inline: auto;
  transform: rotate(10deg);
  z-index: 2;
}

@media only screen and (max-width: 1520px){
  .homepage .intro .textcontainer .text h1{
    font-size: 7rem;
    transition: all 0.3s linear;
  }
  .homepage .intro .textcontainer .text p{
    font-size: 1.2rem;
    transition: all 0.3s linear;
  }
  .homepage .intro .images .image{
    width: 300px;
    height: 400px;
    transition: all 0.3s linear;
  }
}
@media only screen and (max-width: 1200px){
  .homepage .intro{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    height: 100vh;
  }
  .homepage .intro .textcontainer{
    grid-column: 1;
    text-align: center;
  }
  .homepage .intro .textcontainer .text p{
    width: 100%;
  }
  .homepage .intro .images{
    grid-row: 2;
    grid-column: 1;
  }
  .homepage .intro .images .image{
    width: 250px;
    height: 320px;
  }
}
@media only screen and (max-width: 600px){
  .homepage .intro .textcontainer .text h1{
    font-size: 5rem;
  }
  .homepage .intro .textcontainer .text p{
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  .homepage .intro .images .image:nth-of-type(1){
    left: 50px;
  }
  .homepage .intro .images .image:nth-of-type(2){
    left: 150px;
  }
}