*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;;
  
}
:root{
  --primary: #8f7A6E;
  --light-green: #BFFF00;
  --dark-red: #A41f13;
  --white: #E0DBD8;
  --black: #292f36;
  --green: #3caea3;
}
a{
  text-decoration: none;
  color: var(--white);
}