.playpage{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 1fr 20%;
    overflow-x: hidden;
    background-color: #eee4e1;
}
.playpage .logo a{
    grid-row: 1;
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: var(--dark-red);
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    width: 20%;
    height: 100%;
    margin: 0 100px;
}
.playpage .logo img{
    width: 200px;
    position: relative;
    left: 50px;
}
.playpage .skillsContainer{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: auto;
    user-select: none;
    width: auto;
    cursor:col-resize;
    
    scrollbar-color: transparent transparent;
}
.playpage nav{
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    gap: 15px;
    width: 95%;
}

@media only screen and (max-width:760px){
    .playpage nav{
        flex-wrap: wrap;
        height: 200px;
    }
    .playpage .logo{
        align-items: flex-start;
    }
    .playpage .logo img{
        width: 120px;
        left: 30px;
    }
    .playpage .logo a{
        font-size: 3rem;
        height: 100%;
    }
    .playpage{
        grid-template-rows: 12% 50% 10%;
    }
    .playpage .skillsContainer{
        height: 50vh;
    }
}